/******************************************************/
/*           Hoja de estilo de index.html             */
/*           Autor: Ángel Domínguez Ruiz              */
/*                   15/12/2023                       */
/*                Lenguaje de marcas                  */
/******************************************************/

/**************************************Fonts******************************/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* font-family: 'Bebas Neue', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /* font-family: 'Montserrat', sans-serif;*/

/**************************************GENERAL ******************************/
html{
    scroll-behavior: smooth;
}


/**************************************HERO SECTION******************************/

        #hero {background-image: url(../img/1366_2000.jpeg);
            height: 95vh ;                         
            background-size: cover  ;
            background-position: center;            
            position: relative;}
/**************************************Barra de navegacion******************************/
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}



nav a {
    color: rgb(3, 100, 11) ;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover {
    background-color: #ffffff;
    color: rgb(3, 100, 11) ;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8); 
    color: rgb(3, 100, 11);
    padding: 15px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    z-index: 999; 
}


/**************************************Body******************************/
#body{
background-color: rgb(0, 0, 0);


}
/**************************************Columnas y boton de las secciones ******************************/

.contenedor {
    max-width: 800px;
    margin: 20px auto;
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    transition: box-shadow 0.2s ease;
    color:white;
}
.imagen {
    flex: 1;
    padding: 20px;
}

.imagen img {
    width: 100%;
    height: auto;
    display: block;
}

.contenido {
    flex: 1;
    padding: 20px;
}

h2 {
    margin-top: 0;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #ffffff;
    color:rgb(3, 100, 11)  ;
    text-decoration: none;
    
}

button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

button:hover span {
    color: rgb(3, 100, 11);
}

button::before,
button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

button::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
    transform: translate3d(100%, 0, 0);
    
}
.contenedor:hover {
    box-shadow: 0 0 10px rgb(3, 100, 11);
    
}

/*******************************Galería************************************/
* {
    box-sizing: border-box;
  }
  
  #gallery{
    padding-top: 5%;
    padding-bottom: 5%;
}

#gallery h2 {
    font-family: 'Bebas neue', sans-serif;
    color:rgb(3, 100, 11);
    text-align: center;
}

#gallery p {
    font-family: text;
    text-align: center;
    font-size: 1.2em;
    color:#101010;
    padding-bottom: 5%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    padding: auto;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add background color with a little bit see-through */
    .prev:hover, .next:hover {
    background-color: rgb(3, 100, 11);
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:rgb(3, 100, 11);
    border-radius: 50%;
    display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: rgb(0, 192, 16);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    background-color: #000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgb(3, 100, 11);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .patata {
    float: left;
    width: 16.66%;
    
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

/**************************************Footer******************************/
.footer{
    width: 100%;
    color: white;
}
.grid-2d {display: grid;
    grid-template-columns: 100%;}

footer {background-color: rgb (3, 100, 11);
    color: white;
    font-family: 'Bebas neue',sans-serif;
    font-size: 1.2em;
    text-align: center; 
    padding: 2%;}

h3 {font-size: 1em;
    font-weight:'Bebas neue',sans-serif ;}

.footerlinks a {text-decoration: none;
    color: #b85a1f;
    font-size: 1em;}

.footericons {padding: 1%;
    font-size: 1.4em;}

.fa {color: rgb(3, 100, 11);}

.grid-2d {display: grid;
    grid-template-columns: 100%;}

#email{text-decoration: none;
    font-size: 1em;
    color: rgb(3, 100, 11);}

#footerbutton {background-color:  white;
    color: rgb(255, 255, 255);
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Bebas neue',sans-serif;
    font-size: 0.8em;
    font-weight: bold;}

#footerbutton:hover {background-color: rgb(3, 100, 11);
                color: white;}

footer .fa {margin: 10px 10px;}

footer .fa:hover {color: rgb(3, 100, 11);}

footer a {text-decoration: none;}

footer a p {color: rgb(3, 100, 11);
    font-size: 1em;
    border: hidden;
    padding-left: 10px;
    transition: 0.2s;}

footer a p:hover {color: white;
    border-left: 4px solid rgb(3, 100, 11);}

footer #logo{
    width: 5%;
}
/**************************************Link , H y parrafos******************************/

#h2{
    font-family:'Bebas Neue' ;
}
#parrafos{
    color:white ;
    font-family: 'Montserrat'; 
}

/**************************************Responsive******************************/
@media screen and (max-width:800px) {
    .footer .grupo1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
@media (max-width: 768px) {
    .contenedor {
    flex-direction: column;
    align-items: stretch;
    }

    .imagen,
    .contenido {
    margin-right: 0;
    margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .espacio {
    max-width: calc(50% - 20px); 
    }
}
@media (max-width: 768px) {
    .columnacircuito {
    flex: 0 0 100%; 
    max-width: 100%;
    }
}

@media(max-width:991px){
    .containergaleria{
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
    .boxgaleria:nth-child(1){
        grid-column-start: span 1 ;
    }
    .boxgaleria:nth-child(4){
        grid-column-start: span 1 ;
    }
}
@media screen and (max-width: 600px) {
    nav a {
        display: block;
        padding: 10px;
    }
}